torchaudio==0.7.0
torch==1.7.1
numpy==1.19.5
adabelief_pytorch==0.2.0
INR_collection==0.2.0
tqdm==4.32.1
matplotlib==3.3.4
requests==2.22.0
librosa==0.8.0
scipy==1.6.0
cdpam==0.0.4
# optional
# wandb
